$background: hsl(42, 100%, 95%);
$on-background: hsl(0, 16%, 24%);
$primary: hsl(8, 65%, 56%);
$primary-hover: hsl(8, 65%, 41%);
$up-next-background: hsl(18, 20%, 83%);
$blockquote: hsl(228, 30%, 45%);
$on-dark: hsl(42, 100%, 95%);
$carousel-button: hsl(0, 2%, 78%);
$process-subtitle: hsl(340, 20%, 48%);
