$background: hsl(17, 19%, 93%);
$on-background: hsl(0, 16%, 20%);
$primary: hsl(8, 65%, 56%);
$up-next-background: hsl(18, 20%, 83%);
$blockquote: hsl(228, 30%, 45%);
$on-dark: hsl(17, 19%, 96%);
$carousel-button: hsl(0, 2%, 78%);
$process-subtitle: hsl(340, 20%, 48%);
