@use 'breakpoints';
@use 'spacers';

.page-container {
    max-width: 1440px;
    margin: auto;
    display: flex;

    // vertically stack children
    flex-direction: column;

    // expand to take full height of page
    // min-height overrides both height & max-height
    min-height: 100vh;
}

.main {
    margin: var(--space-xxxl) var(--space-xxxl) 0 var(--space-xxxl);
    padding-top: var(--space-xxxxs);
    flex-grow: 1;
}

.main-projects {
    // margin-top: var(--space-xxxl);
    padding-top: var(--space-xxxl);
}

.footer-projects {
    margin: auto;
    max-width: 1440px;
}
