@use 'breakpoints';
@use 'spacers';

// html {
//     scroll-behavior: smooth;
// }

.page-container {
    max-width: 1440px;
    margin: auto;
}

.main {
    margin: var(--space-xxxl) var(--space-xxxl) 0 var(--space-xxxl);
    padding-top: var(--space-xxxxs);
}

.main-projects {
    margin-top: var(--space-xxxl);
    padding-top: var(--space-xxxxs);
}

// .content {
//     flex: 1 0 auto;
//     margin-bottom: var(--space-xxl);
// }

.footer {
    flex-shrink: 0;
}

// @include breakpoints.breakpoint(md) {
//     .content {
//         margin-left: var(--space-xxxl);
//         margin-right: var(--space-xxxl);
//     }
// }
