@use 'breakpoints';
@use 'colors';

:root {
  // font family
  --font-primary: "signifier-regular", serif;
  --font-secondary: "soehne-dreiviertelfett", sans-serif;
  --font-secondary-light: "soehne-buch", sans-serif;
  --font-tertiary: "Graphik", sans-serif;

  // type scale
  --base-size: 1.23em;
  --scale-ratio: 1.17; // based on major 3rd ratio

  // type sizes
  --type-xxxxl: calc(var(--type-xxl) * var(--scale-ratio));
  --type-xxxl: calc(var(--type-xxl) * var(--scale-ratio));
  --type-xxl: calc(var(--type-xl) * var(--scale-ratio));
  --type-xl: calc(var(--type-lg) * var(--scale-ratio));
  --type-lg: calc(var(--type-md) * var(--scale-ratio));
  --type-md: calc(var(--type-sm) * var(--scale-ratio));
  --type-sm: calc(var(--base-size) * var(--scale-ratio));
  --type-xs: calc(var(--base-size) / var(--scale-ratio));
}

/*** Headings and body ***/

h1 {
  margin: 0;
  min-width: 0;
  font-size: var(--type-lg);
  font-family: var(--font-secondary);
  line-height: 1.25;
  font-weight: 800;
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-xxxs);
  color: colors.$on-background;
}

h2 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--type-md);
  line-height: 1.2;
  font-weight: 500;
  // margin-top: var(--space-lg);
  margin-bottom: var(--space-xxs);
  color: colors.$on-background;
}

h3 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--type-sm);
  line-height: 1.4;
  font-weight: 500;
  margin-top: var(--space-xxxxs);
  margin-bottom: var(--space-xxxxs);
  color: colors.$on-background;
}

h4 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--type-sm);
  line-height: 1.4;
  font-weight: 600;
  margin-top: var(--space-md);
  margin-bottom: var(--space-xs);
  color: colors.$on-background;
}

h5 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--base-size);
  line-height: 1.4;
  font-weight: 600;
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xxs);
  color: colors.$on-background;
}

h6 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--type-sm);
  line-height: 1.4;
  font-weight: 600;
  margin-top: var(--space-xxxxs);
  margin-bottom: var(--space-xxxxs);
  color: colors.$on-background;
}

body {
  margin: 0;
  min-width: 0;
  font-size: var(--base-size);
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 500;
  // letter-spacing: 0.005rem;
  color: colors.$on-background;
}

// p + h2 {
//   padding-top: var(--space-xxxxxs);
// }

p + h3 {
  padding-top: var(--space-xs);
}

// p {
//   margin: var(--space-md) 0;
//   font-size: var(--base-size);
//   font-family: var(--font-primary);
//   color: colors.$on-background;
// }

/*** Media Queries ***/

@include breakpoints.breakpoint(md) {
  h1 {
    line-height: 1.2;
  }

  h2 {
    line-height: 1.3;
  }

  h3 {
    line-height: 1.45;
  }

  h5 {
    margin-bottom: var(--space-xxxs);
  }

  p {
    margin: var(--space-sm) 0;
  }

  p + h2 {
    margin-top: var(--space-xxl);
  }
}

@include breakpoints.breakpoint(lg) {
  h1 {
    line-height: 1.3;
    font-size: var(--type-xl);
  }

  h2 {
    line-height: 1.4;
    font-size: var(--type-lg);
    // margin-top: var(--space-md);
    margin-bottom: var(--space-xxxs);
  }

  h3 {
    line-height: 1.5;
  }

  h5 {
    margin-bottom: var(--space-xxxxs);
  }

  p {
    margin: var(--space-xs) 0;
  }

  p + h2 {
    margin-top: var(--space-xs);
  }
}

@include breakpoints.breakpoint(xl) {
  h1 {
    // line-height: 1.15;
    font-size: var(--type-xxl);
  }

  h2 {
    line-height: 1.5;
    font-size: var(--type-xl);
    // margin-top: var(--space-sm);
    margin-bottom: var(--space-xxxs);
  }

  h3 {
    font-size: var(--type-md);
  }

  h4 {
    font-size: var(--type-sm);
  }

  p {
    margin: var(--space-xs) 0;
  }
}

/*** Fonts ***/

// Söhne

@font-face {
  font-family: "soehne-dreiviertelfett";
  src: local("soehne-dreiviertelfett"), url("../../fonts/soehne-dreiviertelfett.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "soehne-buch";
  src: local("soehne-buch"), url("../../fonts/soehne-buch.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

// Signifier

@font-face {
  font-family: "signifier-regular";
  src: local("signifier-regular"), url("../../fonts/signifier-regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "signifier-light-italic";
  src: local("signifier-light-italic"), url("../../fonts/signifier-light-italic.woff2") format("woff2");
  font-weight: light-italic;
  font-style: italic;
  font-display: swap;
}


// Noto Sans JP

// @font-face {
//   font-family: "Noto Sans JP";
//   src: local("Noto Sans JP Bold"), url("../../fonts/NotoSansJP-Bold-Alphabetic.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Noto Sans JP";
//   src: local("Noto Sans JP Medium"), url("../../fonts/NotoSansJP-Medium-Alphabetic.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Noto Sans JP";
//   src: local("Noto Sans JP Regular"), url("../../fonts/NotoSansJP-Regular-Alphabetic.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// Open Serif

@font-face {
  font-family: "Open Serif";
  src: local("Open Serif Regular"), url("../../fonts/OpenSerif-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Serif";
  src: local("Open Serif Italic"), url("../../fonts/OpenSerif-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Graphik

@font-face {
  font-family: "Graphik";
  src: local("Graphik Semibold Italic"), url("../../fonts/Graphik-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
