@use 'breakpoints';

.previous,
.next {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: var(--type-xl);
    height: var(--type-xl);
    border: 0 transparent;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

.previous {
    left: 1%;
}

.next {
    right: 1%;
}

.svg {
    width: var(--type-xxl);
    height: var(--type-xxl);
    margin: 0;
    align-self: center;
    opacity: 0.5;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.container:hover {
    .overlay {
        opacity: 1;

        .hover-title {
            color: white;
        }
    }
}

@media (hover: hover) {
    .overlay {
        opacity: 0;

        .hover-title {
            color: white;
        }
    }
}

@include breakpoints.breakpoint(md) {
    .previous,
    .next {
        width: var(--type-xxl);
        height: var(--type-xxl);
    }
}

@include breakpoints.breakpoint(lg) {
    .previous,
    .next {
        width: var(--type-xxxl);
        height: var(--type-xxxl);
    }
}
