@use 'breakpoints';
@use 'colors';

.container {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-xxl);
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-xs);
    font-family: var(--font-secondary-light);

    h1 {
        margin: var(--space-xs) 0;
        font-size: var(--type-lg);
    }

    textarea {
        resize: vertical;
        line-height: 1.8;
        background: colors.$on-dark;
        border: 1px solid colors.$on-background;
        border-radius: 4px;
    }

    button {
        background-color: colors.$primary;
        border-color: colors.$primary;
        color: colors.$on-dark;
        margin-top: var(--space-xs);
        padding: var(--space-xxxxs) 0;
        border: none;
        border-radius: 4px;
    }

    button:hover {
        background-color: colors.$primary-hover;
        transition: .25s;
        cursor: pointer;
    }

    input {
        line-height: 1.8;
        background: colors.$on-dark;
        border: 1px solid colors.$on-background;
        border-radius: 4px;
    }

    input:focus {  
        min-height: auto;
        border-color: hsl(228, 30%, 45%);
    }
}

@include breakpoints.breakpoint(lg) {
    .container {
        margin-top: var(--space-sm);
        display: flex;
        flex-direction: row-reverse;

        .image {
            flex: 1;
            margin-left: var(--space-sm);
        }

        .form {
            flex: 1;
            margin-right: var(--space-sm);

            h1 {
                margin-top: 0;
                font-size: var(--type-xl);
            }
        }
    }
}
