.figure {
    margin: 0;

    figcaption {
        font-family: var(--font-secondary-light);
        font-weight: 400;
        font-size: var(--type-xxxxs);
        font-style: italic;
        text-align: center;
        margin-top: var(--space-xxs);
    }
}
