.figure {
    margin: 0;

    figcaption {
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: var(--base-size);
        font-style: italic;
        text-align: center;
        margin-top: var(--space-xxs);
    }
}
