/* Footer styles */

@use 'breakpoints';
@use 'global';
@use 'colors';

.footer {
    // margin: auto;
    max-width: 1440px;

    .footer-container {
        margin: 0 var(--space-xxxl);
        padding: var(--space-lg) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    p {
        text-align: right;
        font-size: var(--type-xs);
    }

    .svg-container {
        display: flex;
        align-items: center;
    }

    .svg {
        width: var(--type-lg);
        margin-bottom: 0;
        // height: var(--type-md);
        // margin: auto;
    }

    .svg:hover {
        filter: invert(41%) sepia(42%) saturate(1533%) hue-rotate(330deg) brightness(94%) contrast(70%);
    }

    .tap-target-one {
        display: flex;
        // align-items: baseline;
        justify-content: flex-start;
        min-width: 48px;
        min-height: 48px;
    }

    .tap-target-two {
        display: flex;
        // align-items: baseline;
        justify-content: flex-end;
        min-width: 48px;
        min-height: 48px;
    }
}

@include breakpoints.breakpoint(md) {
    .footer {
        // margin: auto;
        justify-content: space-between;

        .footer-container {
            flex-direction: row;
        }

        p {
            text-align: right;
            // margin: var(--space-xxxxl);
        }
    }
}
