/* Footer styles */

@use 'breakpoints';
@use 'global';

.footer {
    margin: auto;
    max-width: 1440px;

    .footer-container {
        margin: 0 var(--space-xxxl);
        padding: var(--space-lg) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    p {
        text-align: right;
        font-size: var(--type-xs);
    }

    .svg-container {
        display: flex;
        align-items: center;
    }

    .svg {
        width: var(--type-lg);
        // height: var(--type-md);
        margin: auto;
    }

    .tap-target {
        display: flex;
        align-items: center;
        min-width: 48px;
        min-height: 48px;
    }
}

@include breakpoints.breakpoint(md) {
    .footer {
        // margin: auto;
        .footer-container {
            flex-direction: row;
        }

        p {
            text-align: right;
            // margin: var(--space-xxxxl);
        }
    }
}
