@use 'normalize';
@use 'typography';
@use 'colors';
@use 'breakpoints';
@use 'containers';

html {
    background-color: colors.$background;
}

::-moz-selection {
    /* for Firefox */
    color: colors.$on-dark;
    background: colors.$primary;
}

::selection {
    color: colors.$on-dark;
    background: colors.$primary;
}
