@use 'breakpoints';
@use 'colors';

.grid {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: var(--space-xxxl);

    .left-col,
    .right-col,
    .center-col {
        margin: 0 var(--space-xxxl);
        grid-column: 1 /13;
    }

    .left-col,
    .right-col {
        div {
            p {
                font-size: var(--type-xs);
            }

            // figcaption {
            //     font-size: var(--type-xs);
            //     text-align: center;
            // }
        }
    }

    .full-col {
        grid-column: 1 /13;
    }

    video {
        max-width: 100%;
    }

    h2 {
        padding-top: var(--space-md);
        margin-bottom: var(--space-xxxxs);
        font-weight: 600;
    }

    h3 {
        font-family: var(--font-tertiary);
        font-size: var(--base-size);
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
        color: colors.$process;
        margin-top: 0;
        margin-bottom: var(--space-md);
    }

    p {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    ul:last-child {
        margin-bottom: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }
}

// h3 {
//     margin-bottom: var(--space-sm);
//     font-size: var(--type-sm);
//     font-weight: 500;
// }

.grid,
.center-col {
    a {
        text-decoration: underline;
        text-decoration-thickness: 13%;
    }
}

/*** Media Queries ***/

@include breakpoints.breakpoint(md) {
    .center-col {
        h1 {
            font-size: var(--type-xl);
        }
    }
}

@include breakpoints.breakpoint(lg) {
    .grid {
        grid-column-gap: var(--space-xl);

        .left-col {
            grid-column: 1 / 7;
            margin-right: 0;

            h2:first-child {
                margin-top: 0;
            }
        }

        .right-col {
            grid-column: 7 / 13;
            margin-left: 0;
        }

        .center-col {
            grid-column: 3 / 11;
            margin: 0;

            h1 {
                font-size: var(--type-xxl);
            }
        }
    }
}

@include breakpoints.breakpoint(xl) {
    .grid {
        .center-col {
            grid-column: 4 / 10;
        }
    }

    .title {
        h1 {
            font-size: var(--type-xxxl);
        }
    }

    .left-col,
    .right-col,
    .center-col {
        h2 {
            font-size: var(--type-lg);
        }
    }
}
