@use 'breakpoints';

.grid-large {
    // max-width: 1440px;
    // margin: auto;
    margin: var(--space-xxxxl) 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: var(--space-xxxl);
    background-color: white;

    p {
        margin-top: var(--space-xl);
    }

    .one,
    .two,
    .three {
        padding: 0 var(--space-xxxl);
        grid-column: span 12;
        align-self: start;
    }

    .one {
        margin-top: var(--space-xxxl);
    }

    .three {
        margin-bottom: var(--space-xxxl);
    }
}

@include breakpoints.breakpoint(xl) {
    .grid-large {
        grid-column-gap: var(--space-xl);
        grid-row-gap: var(--space-xxxl);

        .one,
        .two,
        .three {
            margin: var(--space-xxxl) 0;
        }

        .one {
            grid-column: 1 / 5;
        }

        .two {
            grid-column: 5 / 9;
        }

        .three {
            grid-column: 9 / 13;
        }
    }
}
