@use 'breakpoints';
@use 'colors';

/* Header and navigation styles */

.logo {
    display: flex;
    align-items: center;

    img {
        margin-bottom: 0;
    }

    span {
        display: none;
        font-size: var(--type-sm);
        font-family: var(--font-secondary);
        font-weight: 600;
        margin-left: var(--space-xs);
        line-height: normal;
    }
}

.svg {
    width: var(--type-md);
    height: var(--type-md);
}

.header {
    left: 0;
    right: 0;
    // max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    padding: var(--space-xxs) 0;
    z-index: 999;
    // background: linear-gradient(to right, colors.$background, rgb(195, 178, 171), colors.$background);
    background: colors.$background;
    border-bottom: 1px solid rgb(203, 203, 203);
    // filter: drop-shadow(1px 1px 2px colors.$background);
    // backdrop-filter: blur(32px);
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    .contents {
        margin: 0 var(--space-xxxl);
        // margin-right: auto;
        // margin-left: auto;
        display: flex;
        // width: auto;
        // max-width: 1440px;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;

        ul {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 0;

            li,
            .page-link {
                display: inline;

                a {
                    text-decoration: none;
                }

                a:visited {
                    text-decoration: none;
                    color: colors.$on-background;
                }

                a:hover {
                    // border-bottom: 1px solid;
                    color: colors.$primary;
                }

                @media (hover: hover) {
                    a:hover {
                        // border-bottom: 1px solid;
                        color: colors.$primary;
                    }
                }

                a.selected {
                    border-bottom: 2px solid;
                    color: colors.$on-background;
                }
            }

            li:nth-child(n + 2) {
                margin-left: 1rem;
            }
        }
    }
}

// @include breakpoints.breakpoint(sm) {
//     .svg {
//         width: 25%;
//     }
// }

@include breakpoints.breakpoint(md) {
    .svg {
        width: var(--type-lg);
        height: var(--type-lg);
    }

    .logo {
        span {
            display: inline-block;
        }
    }

    // .header-div {
    //     align-items: baseline;
    // }
}
