// @use 'breakpoints';

.image {
    grid-column: span 12;
    margin: auto;
    max-width: 1440px;
    padding: 0 var(--space-xxxl);

    video {
        max-width: 100%;
    }

    h5 {
        text-align: center;
        margin: var(--space-xxl) 0 var(--space-lg) 0;
        font-weight: 500;
    }

    h5:first-child {
        margin: 0 0 var(--space-lg) 0;
    }

    a {
        text-decoration: none;
    }

    p {
        font-size: var(--type-xs);
        // font-style: italic;
    }
}

.image-full {
    grid-column: span 12;
    // padding: 0 var(--space-xxxl);
    margin: var(--space-xxxl) 0;
    // max-width: 1440px;

    video {
        max-width: 100%;
    }

    h5 {
        margin: var(--space-sm) 0;
        font-weight: 500;
    }
}
