@use 'colors';
@use 'breakpoints';

.scrollToTopBtn {
    background-color: colors.$background;
    border-color: colors.$on-background;
    border-radius: 50%;
    color: colors.$on-background;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: var(--space-xxxxxl);
    height: var(--space-xxxxxl);
    position: fixed;
    bottom: var(--space-xxl);
    right: var(--space-xs);
    z-index: 100;
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease 0.2s;
    -moz-animation: fadeIn ease 0.2s;
    -o-animation: fadeIn ease 0.2s;
    -ms-animation: fadeIn ease 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scrollToTopBtn:hover {
    background-color: colors.$primary;
    border: none;
    color: colors.$background;

    .svg {
        filter: invert(100%) sepia(94%) saturate(285%) hue-rotate(292deg) brightness(103%) contrast(88%);
    }
}

@media (hover: none) {
    .scrollToTopBtn {
        background-color: colors.$primary;
        border: none;
        color: colors.$background;
    }

    .svg {
        filter: invert(100%) sepia(94%) saturate(285%) hue-rotate(292deg) brightness(103%) contrast(88%);
    }
}

.svg {
    width: var(--space-xxxl);
    height: var(--space-xxxl);
    margin: auto;
}

@include breakpoints.breakpoint(lg) {
    .scrollToTopBtn {
        width: var(--space-xxxl);
        height: var(--space-xxxl);
        right: var(--space-lg);
    }

    .svg {
        width: var(--space-xl);
        height: var(--space-xl);
    }
}

@include breakpoints.breakpoint(xl) {
    .scrollToTopBtn {
        width: var(--space-xxl);
        height: var(--space-xxl);
    }

    .svg {
        width: var(--space-lg);
        height: var(--space-lg);
    }
}
