@use 'breakpoints';
@use 'colors';

.scrollTop {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;

    a {
        color: colors.$default;
    }

    a:link {
        color: colors.$default;
    }

    a:visited {
        color: colors.$default;
    }

    a:focus {
        color: colors.$default;
    }

    a:hover {
        color: colors.$active;
    }

    a:active {
        color: colors.$active;
    }

    .svg {
        margin: var(--space-xxxxl) var(--space-xxxl) var(--space-lg) var(--space-xxxl);
        width: var(--type-xxl);
        transition: all 0.3s ease;
    }

    .svg:hover {
        transform: scale(1.3);
    }
}

@include breakpoints.breakpoint(md) {
    .scrollTop {
        justify-content: flex-end;
        // margin: auto;

        // a {
        //     margin-right: var(--space-xxxl);
        // }
    }
}
