.slider-image {
    max-width: 1800px;
    margin: auto;

    p {
        font-family: var(--font-secondary);
        font-weight: 400;
        text-align: center;
        font-style: italic;
        margin-bottom: 0;
    }
}
