@use 'breakpoints';

h2:first-child,
h3:first-child,
h4:first-child,
p:first-child {
    margin-top: 0;
}

.title {
    margin: auto;
    max-width: 1440px;

    .headings {
        margin: var(--space-xl) var(--space-xxxl) 0 var(--space-xxxl);

        h1 {
            margin-bottom: 0;
        }

        h2 {
            margin-top: var(--space-xxxs);
            margin-bottom: var(--space-xs);
            font-family: var(--font-secondary-light)
        }
    }
}

/*** Media Queries ***/

@include breakpoints.breakpoint(lg) {
    .title {
        .headings {
            h2 {
                margin-top: var(--space-xxxxs);
            }
        }
    }
}

@include breakpoints.breakpoint(xl) {
    .title {
        .headings {
            h1 {
                font-size: var(--type-xxxl);
            }

            h2 {
                margin-top: var(--space-xxxxxs);
            }
        }
    }
}
