.container-black {
    margin: var(--space-xxxl) 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container-white {
    margin: var(--space-xxxl) 0;
    display: flex;
    justify-content: center;
    background-color: white;
}

.video {
    max-width: 1440px;
    width: 100%;
}
